/codificacion/Practica_Algoritmos/nbproject/private/
/codificacion/Practica_Algoritmos/build/
/codificacion/Practica_Algoritmos/build.xml
/codificacion/Practica_Algoritmos/manifest.mf
/codificacion/Practica_Algoritmos/nbproject